.auth_page {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 100px;

   @media (max-width: 1000px) {
      flex-direction: column;
      gap: 50px;
   }
}

.auth_page .auth_info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   svg {
      font-size: 7rem;
   }

   h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 10px;
   }

   p {
      font-size: 1.2rem;
      font-weight: 400;
   }
}

.auth_page .auth_card {
   width: 400px;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0px 1.9px 2.2px rgba(0, 0, 0, 0.014), 0px 4.5px 5.3px rgba(0, 0, 0, 0.02), 0px 8.4px 10px rgba(0, 0, 0, 0.025), 0px 15px 17.9px rgba(0, 0, 0, 0.03), 0px 28px 33.4px rgba(0, 0, 0, 0.036),
      0px 67px 80px rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;

   .input {
      width: 100%;
      margin-bottom: 15px;

      p {
         font-size: 1.2rem;
         font-weight: 400;
         margin-bottom: 7px;
      }

      input {
         font-size: 1rem;
         width: 100%;
         padding: 10px 13px;
         border: 1px solid #131313;
         outline: none;
         border-radius: 8px;
         box-shadow: 0px 2.9px 2.8px rgba(0, 0, 0, 0.012), 0px 7.4px 7px rgba(0, 0, 0, 0.018), 0px 15.1px 14.4px rgba(0, 0, 0, 0.022), 0px 31px 29.6px rgba(0, 0, 0, 0.028),
            0px 85px 81px rgba(0, 0, 0, 0.04);
      }
   }

   button {
      background-color: #fa9583;
      width: 100%;
      padding: 10px 13px;
      border: none;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      transition: all 0.3s ease-in-out;

      svg {
         font-size: 1.4rem;
      }

      &:hover {
         background-color: #f9a59b;
      }
   }

   p.error {
      margin-bottom: 15px;
      font-size: 0.9rem;
      font-weight: 400;
      color: #ef5e44;
      opacity: 0;
      transition: 0.2s ease-in-out;
   }

   p.error.show {
      opacity: 1;
   }

   p.info {
      margin-top: 20px;
      font-size: 0.8rem;
      font-weight: 400;
      opacity: 0.9;

      a {
            color: #fa9583;
            text-decoration: none;
            font-weight: 600;
      }
   }
}
